
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <style>
        body {
            background: no-repeat url('../../../../images/admin_home_bg.jpg');
            background-size: cover;
        }
    </style>
</head>
<body>
    <div style="text-align:center;color:red">
        <h1>欢迎登录！</h1>
    </div>
</body>
</html>
